@model RedBadgeProj.Models.DogDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DogDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
