@model IEnumerable<RedBadgeProj.Models.DogListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Dogs</h2>

<p>
    @Html.ActionLink("Add a Dog", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DogId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DogName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OwnerId)
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DogId }) |
        @Html.ActionLink("Details", "Details", new { id = item.DogId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DogId })
    </td>
</tr>
}

</table>
